doctype html
html(lang='en')
  img#logo(src='/img/downloads-bg.jpg')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title  Welcome To Buggy
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    // Theme CSS
    link(href='css/grayscale.css', rel='stylesheet')
    script.
      function formSubmit() {
      document.forms["myForm"].submit();
      }
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // Navigation
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            | Menu 
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='#page-top')
            i.fa.fa-play-circle
            span.light Welcome To
            |  Buggy
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='http://127.0.0.1:8081/about') About
            li
              a.page-scroll(href='http://127.0.0.1:8081/tutorial') Tutorial
        // /.navbar-collapse
      // /.container
    // Intro Header
    header.intro
      .intro-body
        - var messages = getMessages()
        if messages.notify
            each msg in messages.info
                .info= msg
        if messages.error
            each msg in messages.error
                .error= msg
        .container
          .row
            .col-md-8.col-md-offset-2
              h1.brand-heading BUGGY
              p.intro-text Your Personal Coding Assistant
              #login
                form.form(name='myForm', method='POST', action='/newlog')
                  input(type='text', name='email', placeholder='Email')
                  input(type='password', name='password', placeholder='Password')
                  input#login-btn(type='submit', onclick='formSubmit()', value='Login', style='background-color: #33597f')
                br
                a(href='https://buggy333.herokuapp.com/new_account') Create an account
