//-jade file for login page
html
    img(id="buggy-text",src="b3-03.png")
    head
        link(rel="stylesheet",href="style.css")
    body
        div(id="login")
            form
                input(type="text",id="username",placeholder="Email address")
                input(type="text",id="password",placeholder="Password")
                input(type="button",id="login-bn",value="Login")
            //-change href here
            a(href="localhost:5000",id="forgot-pwd") Forgot Password?
            //-change href here
            a(href="localhost:5000",id="new-user") New User?
    img(id="buggy-logo",src="b1-01.png")
            
                